########################
# React / Node
########################
node_modules/
build/

########################
# Django / Python
########################
myenv/
__pycache__/
*.py[cod]
db.sqlite3

########################
# Environment
########################
.env
